{
    email rreicks13@gmail.com
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

(auth) {
    @oauth2 path /oauth2/*

    handle @oauth2 {
        reverse_proxy https://auth.rossreicks.com {
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Uri {uri}
        }
    }

    handle {
        reverse_proxy {args.0} {
            header_up Authorization {http.request.header.Authorization}
        }
    }
}

https://auth.rossreicks.com {
    reverse_proxy http://192.168.1.26:4180
}

https://radarr.rossreicks.com {
    import auth http://192.168.1.26:7878
}
https://sonarr.rossreicks.com {
    reverse_proxy http://192.168.1.26:8989
}
https://overseerr.rossreicks.com {
    reverse_proxy http://192.168.1.26:5055
}
https://prowlarr.rossreicks.com {
    reverse_proxy http://192.168.1.26:9696
}
https://nzb.rossreicks.com {
    reverse_proxy http://192.168.1.26:6789
}
https://server.rossreicks.com {
    reverse_proxy http://192.168.1.26:9000
}
https://ha.rossreicks.com {
    reverse_proxy http://192.168.1.147:8123
}
https://pihole.rossreicks.com {
    reverse_proxy http://192.168.1.26:8080
}
