{
    email {{ caddy_email }}
}

{% for ingress in ingresses %}
{% for rule in ingress.spec.rules %}
{% if rule.host %}
https://{{ rule.host }} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy http://{{ rule.host }} { # Proxy to the hostname defined in the Ingress
        header_up Host {host} # Crucial for host-based routing
        header_up X-Forwarded-Proto https
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
    }
}
{% endif %}
{% endfor %}
{% endfor %}
