{
    email rreicks13@gmail.com
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

(auth) {
    @no_auth_api path /api/*
    handle /oauth2/* {
        reverse_proxy http://home-server:4180
    }

    handle @no_auth_api {
        reverse_proxy {args.0}
    }

    handle {
        forward_auth http://home-server:4180 {
            uri /oauth2/auth
            copy_headers Authorization X-Auth-Request-User X-Forwarded-Preferred-Username X-Forwarded-User

            @error status 401
            handle_response @error {
                redir * /oauth2/sign_in?rd={scheme}://{host}{uri}
            }
        }

		reverse_proxy {args.0}
    }
}

https://rossboss.dev {
  reverse_proxy 172.18.0.1:9000
}
https://auth.rossreicks.com {
    reverse_proxy http://home-server:4180
}
https://overseerr.rossreicks.com {
    reverse_proxy http://home-server:5055
}
https://pihole.rossreicks.com {
    reverse_proxy http://home-server:8080
}
https://plex.rossreicks.com {
    reverse_proxy http://plexvm:32400
}
https://tautulli.rossreicks.com {
    reverse_proxy http://home-server:8181
}
https://activepieces.rossreicks.com {
    reverse_proxy http://home-server:9654
}
https://backrest.rossreicks.com {
    reverse_proxy http://home-server:9898
}
https://grafana.rossreicks.com {
    reverse_proxy http://home-server:3000
}

# these are the services that are protected by oauth2_proxy
https://radarr.rossreicks.com {
    import auth http://home-server:7878
}
https://sonarr.rossreicks.com {
    import auth http://home-server:8989
}
https://prowlarr.rossreicks.com {
    import auth http://home-server:9696
}
https://bazarr.rossreicks.com {
    import auth http://home-server:6767
}
https://nzb.rossreicks.com {
    import auth http://home-server:6789
}
https://ha.rossreicks.com {
    # Workaround for Home Assistant service worker CSRF issues
    @serviceworker path /service_worker.js
    respond @serviceworker 404
	import auth http://homeassistant:8123
}

